.photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 250px;
    background: whitesmoke;
    margin: 10px;
    padding: 10px;

    box-shadow: 2px 2px 3px rgba($color: #888888, $alpha: 0.2);
}

.buttons {
    padding-top: 10px;
}