<ng-container *ngFor="let photo of (photos | async)">
    <div class="photo-container">
        <div class="photo-header">
            <div>Title: </div>
            <div class="photo-title">{{ photo.title }}</div>
            <button mat-raised-button
                    (click)="openDialog(photo, 'edit-photo')"
                    style="margin-right: 10px;">Edit</button>
            <button mat-mini-fab (click)="onDelete(photo.id)" color="primary">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
        <img (click)="openDialog(photo, 'full-photo')" class="image-block" src="{{photo.thumbnailUrl}}">
    </div>
</ng-container>

    